@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: RF Dewi Expanded;
	font-display: swap;
	src: url("../fonts/RFDewiExpanded-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
